# deps
/node_modules

# generated content
.source

# react-router
/.react-router/
/build/

# deploy pack
/server/
/deploy/

# test & build
/coverage
*.tsbuildinfo

# misc
.DS_Store
*.pem
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# others
.env*.local
.env
.vercel
